@mixin flex( $flex-direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin icon() {
    &.filled {
        fill: var(--text);
    }

    &.outlined {
        stroke: var(--text);
        fill: transparent;
    }
}
