$color-background: #171719;
$color-main: #AEB8FE;
$color-secondary: #E88D67;
$color-secondary-30: rgba(232, 141, 103, 0.3);
$color-main-30: rgba(174, 184, 254, 0.3);
$color-white-100: #fff;

$color-button: $color-secondary-30;
$color-button-text: $color-white-100;
$color-tag: lighten($color-background, 10%);
