$color-background: #1B1B1F;
$color-main : #485A4D;
$color-secondary : #B7C9BC;
$color-white-100: #fff;
$color-white-20: rgba(255, 255, 255, 0.20);


$color-yellow-100: rgba(218, 255, 125);
$color-yellow-20: rgba(255, 255, 125, 0.20);
$color-blue-100: rgba(137, 210, 220);
$color-blue-20: rgba(137, 210, 220, 0.20);
$color-pink-100: rgba(220, 137, 187, 1);
$color-pink-20: rgba(220, 137, 187, 0.20);
$color-green-100: rgba(137, 220, 187, 1);
$color-green-20: rgba(137, 220, 187, 0.20);
$color-orange-100: rgba(255, 125, 125, 1);
$color-orange-20: rgba(255, 125, 125, 0.20);

$color-text: $color-white-100;
$color-button: $color-main;
$color-button-text: $color-white-100 !important;
$color-tags: rgba(80, 139, 152, 0.30);

