.projectsWrapper {
    @include flex(column, center, center);
    width: 100%;

    @media only screen and (max-width: 480px) {
        @include flex(column, center, center);
        width: 100%;
    }


    & .projectsHeader {
        @include flex(row, center, center);
        width: 100%;
        padding: 1.25em;
        gap: 1.25em;

        & h2 {
            margin: 0;
            padding: 0;
        }
    }

    & .tiles {
        @include flex();
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        padding: 1em;
        width: 100%;
        gap: .5rem;

        & .projectItem {
            @include flex(column, space-evenly, flex-start);
            position: relative;
            width: calc(30%);
            background-color: $color-tile-background;
            border: solid 1px $color-tile-border;
            border-radius: 0.5rem;
            padding: 1em;
            gap: 1.2rem;

            @media only screen and (max-width: 480px) {
                width: 100%;
                margin: 1.25rem 0 0 0;

                & .image {
                    @include flex(column, center, center);
                    width: 100%;
                    height: auto;
                    overflow: hidden;

                    & img {
                        width: 100%;
                    }
                }
            }

            @media only screen and (min-width: 481px) and (max-width: 1200px) {
                width: calc(50% - 9em);

                & .image {
                    height: unset !important;
                }
            }

            & .projectHeader {
                @include flex(row, space-between, center);
                width: 100%;

                & .tagWrapper {
                    @include flex(row, flex-start, center);
                    gap: 0.5rem;
                    flex-wrap: wrap;
                }

                & .navLink {
                    @include flex(row, center, center);
                    // gap: 0.5rem;
                    text-decoration: none;
                    // color: $color-white-100;
                    cursor: pointer;
                    border-radius: 32px;

                    &.button {
                        padding: .25em .5em .25em 1em;
                        color: $color-button-text;
                    }
                }
            }
        }


        .image {
            @include flex(column, center, center);
            border-radius: 8px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
            }
        }

        & .titleDate {
            @include flex(row, space-between, center);
            width: 100%;
        }
    }
}


.filtersContainer {
    @include flex(row, center, center);
    gap: 1rem;
    padding: 1rem 0;

    @media only screen and (max-width: 480px) {
        @include flex(column, center, center);
        width: 100%;
    }

    & .filters {
        @include flex(row, center, center);
        gap: 0.5rem;
        padding: 0.5rem 1rem;

        @media only screen and (max-width: 480px) {
            // @include flex(column, center, center);
            width: 80%;
            flex-wrap: wrap;
        }

    }
}

.tag {
    @include flex(row, center, center);
    padding: 0.25rem 0.75rem;
    background-color: $color-tag;
    border-radius: 0.5rem;
    color: $color-button-text;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;

    & p {
        margin: 0;
        padding: 0em;
    }

    & svg {
        height: 0.75em;
        width: 0.75em;
    }
}

.Website .tag:hover,
.Website .tag.active,
button.Website.tag.active {
    background-color: $color-yellow-20;
    color: $color-yellow-100;
    cursor: pointer;
}

.MobileApp .tag:hover,
.MobileApp .tag.active,
button.MobileApp.tag.active {
    background-color: $color-pink-20;
    color: $color-pink-100;
    cursor: pointer;
}

.Graphics .tag:hover,
.Graphics .tag.active,
button.Graphics.tag.active {
    background-color: $color-orange-20;
    color: $color-orange-100;
    cursor: pointer;
}

.Logo .tag:hover,
.Logo .tag.active,
button.Logo.tag.active {
    background-color: $color-blue-20;
    color: $color-blue-100;
    cursor: pointer;
}

.WebApp .tag:hover,
.WebApp .tag.active,
button.WebApp.tag.active {
    background-color: $color-green-20;
    color: $color-green-100;
    cursor: pointer;
}

.CaseStudy .tag:hover,
.CaseStudy .tag.active,
button.CaseStudy.tag.active {
    background-color: $color-tag;
    color: $color-button-text;
}
