@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,700,900";

html {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
p,
a,
div,
mark {
    font-style: normal;
    color: $color-white-100;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 2.074rem;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.728rem;
    letter-spacing: 0.05em;
    
}

h3 {
    font-size: 1.44rem;
    letter-spacing: 0.1em;
}

h4 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

p {
    font-size: 1rem;
    letter-spacing: 0.01em;
}

p.foot {
    font-size: 0.833rem;
    letter-spacing: 0.2em;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: $color-secondary;
    letter-spacing: 0.01em;
}

mark {
    background-color: $color-main-30;
    border-radius: 4px;
}
