.header {
  @include flex(column, center, center);
  gap: 3rem;
  padding: 4em 2em;
  width: 100%;

  .illustration {
    @include flex(column, center, center);

    border-radius: 90%;
    background-color: $color-main-30;

    & img {
      @include flex(column, center, flex-end);
      height: 300px;
      width: 300px;

      object-fit: contain;
    }
  }

  & .titleSection {
    @include flex(column, center, center);
    gap: 32px;
    text-align: center;
    width: 100%;

    & h1,
    & h2,
    & p {
      width: 100%;
    }

    & div {
      @include flex(column, center, center);
      gap: 8px;
      text-align: center;
      width: 100%;
    }
  }

  & p {
    text-align: center;
  }
}

.about {
  width: 100%;
  @include flex(column, center, center);
  gap: 4rem;

  & .aboutText {
    width: 100%;
    @include flex(column, center, center);
    gap: 1rem;

    & p {
      text-align: center;
    }
  }

  & .aboutGrid {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    gap: 24px;
  }

  & .aboutCard {
    @include flex(column, flex-start, center);
    gap: 12px;
    width: 300px;
    text-align: center;

    & .descriptions {
      font-weight: 500;
      gap: 4px;

      & .secondary {
        opacity: 0.7;
      }
    }

    & .cta {
      text-decoration: none;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.contact {
  @include flex(column, center, center);
  gap: 2rem;

  @media only screen and (max-width: 1200px) {
    padding: 1em 0;
  }

  & div {
    @include flex(column, center, center);
    gap: 8px;
  }

  & h2 {
    text-align: center;
  }

  & .contactRow {
    @include flex(row, center, center);
    gap: 1rem;

    @media only screen and (max-width: 1200px) {
      @include flex(column, center, center);
    }

    & .locationRow {
      @include flex(row, center, center);
      gap: 12px;
    }

    & .location {
      @include flex(row, center, center);
      gap: 0.5rem;

      & svg {
        height: 1.5em;
        width: 1.5em;
        fill: $color-main;
      }

      h4 {
        color: $color-main;
      }
    }
  }
}
