@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,700,900";

h1,
h2,
h3,
h4,
p,
a,
div,
mark {
    font-style: normal;
    color: $color-white-100;
    font-weight: 300;
    // line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0.2em; 
    text-transform: uppercase;
}

h2 {
    font-size: 2em; // 32px
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    font-size: 1.5em; // 24px
    letter-spacing: 0.03em;
}

h4 {
    font-size: 1.25em; // 20px
    letter-spacing: 0.03em;
}

p {
    font-size: 1.1em; // 16px
    letter-spacing: 0.01em;
}

p.foot {
    font-size: 1.1em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 200;
}

a {
    font-size: 1.1em; // 16px
    text-decoration: none;
    color: $color-secondary;
    letter-spacing: 0.01em;
}

a:hover {
    color: $color-main;
}

mark {
    background-color: $color-secondary-30;
    border-radius: 4px;
    padding: 1px 12px;
}
