h1,
h2,
h3,
h4,
p,
a,
div,
mark {
    color: $color-white-100;
    font-weight: 300;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 2.5rem; // 40px
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem; // 32px
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem; // 24px
    letter-spacing: 0.03em;
}

h4 {
    font-size: 1.25rem; // 20px
    letter-spacing: 0.03em;
}

p {
    font-size: 1rem; // 16px
    letter-spacing: 0.01em;
}

p.foot {
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 200;
}

a {
    font-size: 1rem; // 16px
    text-decoration: none;
    color: $color-secondary;
    letter-spacing: 0.01em;
}

a:hover {
    color: $color-main;
}

mark {
    background-color: $color-secondary-30;
    border-radius: 4px;
    padding: 1px 12px;
}
